<!DOCTYPE HTML>
<html>
<head>
<title>PROYECTO MINTIC</title>
<!-- Custom Theme files -->
<link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css" media="all"/>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Login Form Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" /> -->
<!-- //for-mobile-apps -->
<!--Google Fonts-->
<!-- <link href='//fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'> -->
<!--google fonts-->
</head>
<body>

  <ul class="menu-fixed">

    <li><a href="/inicio/empleado_autorizado"> Inicio </a></li>

    <li><a href="/"> Cerrar Sesion</a></li>
  </ul>

  <div class="login">
    <div class="login-header">
      <h1>Modificar Cantidad de Producto</h1>
    </div>
    <div class="login-form" >
      <div>
        <form action="/cantidad_modificada" name="formulario" method="POST" novalidate>
          {{form.crsf_token}}
          {{form.nombre.label}}
          {{form.nombre(size=20, value = 'test')}}
          {% for e in form.nombre.errors %}
          <div style="color: red;">{{e}}</div>
          {% endfor %}
          {{form.cantidad.label}}
          {{form.cantidad(size=20,)}}
          {% for e in form.cantidad.errors %}
          <div style="color: red;">{{e}}</div>
          {% endfor %}
          {{form.actualizar(class="login-button")}}
        </form>
      </div>
    </div>
  </div>

</body>
</html>
