<!DOCTYPE HTML>
<html>

<head>
  <title>PROYECTO MINTIC</title>
  <!-- Custom Theme files -->
  <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css" media="all" />
  <!-- for-mobile-apps -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Login Form Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" /> -->
  <!-- //for-mobile-apps -->
  <!--Google Fonts-->
  <!-- <link href='//fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'> -->
  <!--google fonts-->
</head>

<body>

  <ul class="menu-fixed">
    <li class="col-2"><a href="/inicio/admin_autorizado">Inicio</a></li>
    <li class="col-2"><a href="/registrar_producto">Crear Producto</a></li>
    <li class="col-2"><a href="/modificar_producto">Modificar Productos</a></li>
    <li class="col-2"><a href="/registrar_empleado">Crear Empleado</a></li>
    <li class="col-2"><a href="/modificar_empleado">Modificar Empleados</a></li>
    <li class="col-2"><a href="/logout"> Cerrar Sesion</a></li>
  </ul>


  <div class="login">
    <div class="login-header">
      <h1>Registrar Empleado</h1>
    </div>
    <div class="login-form">
     <form action="/empleado_registrado" method="POST">
      <h3>Nombre del Empleado:</h3>
      {{form.crsf_token}}
      {{form.nombre(class="mb-2",placeholder="Nombre")}}
      {% for e in form.nombre.errors %}
      <div style="color: red;">{{e}}</div>
      {% endfor %}
      <br>
      <h3>Contraseña:</h3>
      {{form.clave(size=20)}}
      {% for e in form.clave.errors %}
      <div style="color: red;">{{e}}</div>
      {% endfor %}
      <br>
      <h3>Cédula:</h3>
      {{form.cedula(class="mb-2",placeholder="Cédula")}}
      {% for e in form.cedula.errors %}
      <div style="color: red;">{{e}}</div>
      {% endfor %}
      <br>
      <h3>Correo:</h3>
      {{form.correo(class="mb-2",placeholder="Correo")}}
      {% for e in form.correo.errors %}
      <div style="color: red;">{{e}}</div>
      {% endfor %}
      <br>
      <br>
      {{form.registrar(class="login-button")}}
      <br>
    </form>
    </div>
  </div>

  <div class="login">
    <div class="login-header">
      <h1>Buscar Empleado</h1>
    </div>
    <input type="search" placeholder="Buscar Empleado" /><br>
      <h1>Empleado:</h1>
      <table class="table table-dark">
      <tbody>
        <tr>
          <td> Empleado</td>
          <td> Nombre</td>
          <td> Cédula</td>
          <td> Correo</td>
        </tr>
        
        {% for e in empleados%}
        <tr>
          <td> <a href="/modificar_empleado">{{e['id_usuario']}}</a></td>
          <td> {{e['nombre']}} </td>
          <td> {{e['cedula']}} </td>
          <td> {{e['correo']}} </td>
        </tr>
        
        {% endfor %}
       
      </tbody>
    </table>

  </div>

</body>

</html>
